@import "../../../assets/scss/_variables.scss";

.navbar {
  background-color: $primary-color;
  &-brand {
    width: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 0.9;
    font-weight: bold;
  }
  .nav-link {
    color: #fff;
  }
}
