<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li
        class="nav-item"
        *ngFor="let item of navOptions"
        [ngClass]="{ active: item.isActive }"
      >
        <a
          class="nav-link"
          aria-current="page"
          routerLink="{{ item.route }}"
          (click)="activeHandler(item)"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</nav>
